body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background: url('https://github.com/Paradychka/banya-website/blob/main/1aa9f502-bbb6-4b3b-ab0a-4199fb891f68.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

#hero h2,
#hero p {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.section {
    padding: 60px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 18px;
}

ul li i {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

form label, form input, form textarea {
    margin-bottom: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

#map {
    margin-top: 20px;
}
